body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c8c8c8;
  font-family: Arial, sans-serif;
  text-align: center;
}


.digital-clock {
 
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(247, 243, 227);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  font-size: 2em;
  
}

